<h1>Index</h1>

<div id="slider">
  <ul class="example-orbit" data-orbit>
    <li>
      <img src="http://lorempixel.com/900/300/nightlife/3" alt="slide 1" />
      <div class="orbit-caption">
        Project A
      </div>
    </li>
    <li class="active">
      <img src="http://lorempixel.com/900/300/fashion/3" alt="slide 2" />
      <div class="orbit-caption">
        Project B
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/900/300/technics/3" alt="slide 3" />
      <div class="orbit-caption">
        Project C
      </div>
    </li>
  </ul>

  <a class="button success radius large start" href="add_project.html">Start a Project</a>

</div><!-- #slider -->
