/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'foundation-icons';

/* Layout Variables */
$margin: 20px;
$font-size: 2rem;
$radius: 5px;

.margin {
  margin-top: $margin + 10px;
}

section {
	margin:0;
}


#slider {
  position: relative;

   img {
   	 width: 100%;
   }

   .start {
	  position: absolute;
	  bottom: 100px;
	  left: 42.5%;
   }

   .description {
   	  position: absolute;
   	  color: #fff;
   	  font-size: $font-size - .5rem;
	  bottom: 200px;
	  width: 60%;
	  left: 20%;
   }

}

#search {

	.search {
		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;
		// padding:0;
	}

	.search_input {
		border-top-right-radius: $radius;
		border-bottom-right-radius: $radius;

	}

	input[value] {
		color: #666;
	}

}





